body {
  font-family: "Roboto", sans-serif;
  color: #282828;
  background-color: #f5f5f5;
}

header .top-ads {
  overflow: hidden;
  padding: 0;
  background-color: #ff9900;
}

header .top-ads img {
  width: 100%;
  height: auto;
}

/* top service */
header .top-service {
  padding: 10px 0px;
  overflow: hidden;
}

header .top-service .sell a {
  font-size: 13px;
  text-decoration: none;
  color: #f68b1e;
  font-weight: 500;
}

header .top-service .other-services a {
  font-size: 13px;
  text-decoration: none;
  color: darkgray;
  font-weight: 500;
  padding: 0px 15px;
}

/* navigaion */
.navbar {
  background-color: #fff;
  /* overflow: hidden; */
}

.navbar .navbar-brand {
  padding: 0px;
}

.navbar .navbar-brand img {
  overflow: hidden;
  width: 100px;
}

.navbar form {
  width: 60%;
}

.navbar form #search-icon {
  background-color: #fff;
  line-height: inherit;
  border-right: none;
  color: #ccc;
}
.navbar form .form-control {
  border-left: none;
}
.navbar form .btn {
  margin-left: 10px;
  background-color: #f68b1e;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar form .btn:hover {
  background-color: #e4811c;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 500;
  font-size: 17px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #f68b1e;
}

.navbar .navbar-nav .nav-item .nav-link i {
  margin-right: 5px;
}

.navbar .dropdown-menu {
  min-width: 13rem;
  border: none;
}

.navbar .sign-in {
  background-color: #eb790f;
  color: #fff !important;
  font-weight: 600;
  padding: 7px 10px;
  display: flex;
  text-align: center !important;
  border-radius: 4px;
  justify-content: center;
  text-transform: uppercase;
}

.navbar .sign-in:hover {
  background-color: #eee;
  color: #eb790f;
  transition: 0.2s;
}

.navbar .menu-divider {
  border: 1px solid #eee;
}

.navbar .dropdown-item .info {
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar .dropdown-item .info {
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar .dropdown-item .info .icon {
  width: 22px;
  height: auto;
  text-align: center;
  margin-right: 10px !important;
  font-size: 20px;
}

.navbar .dropdown-item.icon-left {
  font-size: 15px;
  padding: 9px 16px;
}

.main {
  padding-top: 10px;
  padding-bottom: 30px;
}

/* side category */
.hero_banner .side-category {
  border: none;
  height: 100% !important;
}
.hero_banner .side-category a {
  border: none;
  font-size: 14px;
  padding: 0.6rem 1rem;
}
.hero_banner .side-category a:hover {
  background-color: #fff;
  color: #ff9900;
  transition: 0.3s;
}
.hero_banner .side-category a i {
  margin-right: 7px;
  display: inline-block;
  width: 20px;
  text-align: center;
}
/* swiper */
.hero_banner .swiper-slide img {
  width: 100%;
  border-radius: 4px;
}
/* side banner */
.side-banner {
  overflow: hidden;
}

.side-banner a {
  overflow: hidden;
  display: flex;
  margin-bottom: 20px;
}
.side-banner img {
  border-radius: 4px;
}
/* top deals */
.top-deals {
  padding: 1rem 0;
}

@media (max-width: 600px) {
  .top-deals {
    display: none;
  }
}

.mobile_subcategory {
  margin: 2rem 0;
  background-color: #fff;
}

@media (min-width: 760px) {
  .mobile_subcategory {
    display: none;
  }
}

.mobile_subcategory .col-3 {
  /* padding-right: 5px;
  padding-left: 5px; */
}

.top-deals a,
.mobile_subcategory a,
.our-services a {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 5px;
  align-items: center;
  text-decoration: none;
}

.our-services a {
  background-color: #f5f5f5;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .our-services a {
    background-color: #f5f5f5;
    margin-top: 10px;
    flex-direction: column;
    padding: 8px 2px;
  }
}

.mobile_subcategory a {
  flex-direction: column;
  padding: 8px 0px;
}

.mobile_subcategory a .icon_wrapper {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.top-deals a:hover,
.mobile_subcategory a:hover,
.our-services a:hover {
  text-decoration: none;
}

.top-deals a .icon_wrapper,
.our-services a .icon_wrapper {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.top-deals a .icon_wrapper img,
.mobile_subcategory a .icon_wrapper img,
.our-services a .icon_wrapper img {
  width: 100%;
  height: 100%;
}

.top-deals a span.deal-title,
.our-services a span.deal-title {
  font-weight: 500;
  color: #010101;
  padding-left: 10px;
}

.text-ellipsis-50 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-container,
.collections {
  border: none;
  margin: 1rem 0;
}

.product-container .card-header,
.collections .card-header {
  background-color: #e61601;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  font-size: 1.25em;
}

.product-container .card-header .see-all {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  line-height: inherit;
  font-weight: 500;
}

.product-container .card-body {
  padding: 10px 8px;
}
.product-container a {
  color: inherit !important;
  display: block;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.product-container a .tag {
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 7px 10px;
  text-align: center;
  background-color: #feefde;
  color: #f68b1e;
  font-size: 12px;
  border-radius: 4px;
}
.product-container .product-img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.product-container .product-img img {
  width: 100%;
}

.product-container .price-new {
  color: #000;
  font-weight: 700;
  margin-bottom: 3px;
}

.product-container .price-old {
  color: #000;
  font-weight: 400;
  font-size: 12px;
  text-decoration: line-through;
}

.product-container .collection-card {
  margin-bottom: 20px;
}

.middle-ads {
  padding: 8px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 4px;
}

.middle-ads a {
  text-decoration: none;
}

.middle-ads a:hover {
  transform: scaleX(1);
}

.middle-ads a img {
  width: 100%;
  border-radius: 4px;
}

.collections .collection-card {
  margin-bottom: 20px;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}

.collections .collection-card .collection-img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.collections .collection-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.collections p.collection-title {
  text-align: center;
  margin-bottom: 0px;
}
